@page "/"
@using System.Text.Json
@inject SimulationEventBus eventbus
@inject ILoggerFactory loggerFactory
@implements IDisposable

<PageTitle>Home</PageTitle>

<h1>Prototyping Dashboard!</h1>
<div class="container mb-2">
    <div class="row g-2">
        <div class="col-6 border rounded p-2">
            <h3>Publish Weather:</h3>
            <WeatherBuilder OnWeatherCreated="PublishWeather" />
        </div>
        <div class="col-6 border rounded p-2">
            <h3>Publish Flight:</h3>
            <FlightBuilder OnFlightCreated="PublishFlight" />
        </div>
    </div>

    <div class="row g-2">
        <div class="col-12 border rounded p-2">
            <h3>Consumer:</h3>
            <p>The embedded consumer is enabled: @(consumer is not null)</p>
            @if(consumer is null)
            {

                <button class="btn btn-success" @onclick="CreateConsumer">Enable embedded consumer?</button>
            }
            else
            {
                <button class="btn btn-danger" @onclick="KillConsumer">Disable embedded consumer?</button>
            }
        </div>
        <div class="col-12 border rounded p-2">
            <h3>Orchestrator:</h3>
            <p>The embedded consumer is enabled: @(orchestrator is not null)</p>
            @if (orchestrator is not null)
            {
                <p>Latency test in progress: @(orchestrator.LatencyExperimentRunning)</p>
                <button class="btn btn-primary" disabled="@orchestrator.LatencyExperimentRunning" @onclick="PerformLatencyTest">Perform Latency test?</button>
                @if(latencyTestResult is not null)
                {
                    <p>Test Results:<br/>
                        <pre>@latencyTestResult</pre>
                    </p>
                }
            }
        </div>
    </div>
</div>




<h2>Recalculation events:</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Timestamp</th>
            <th>Message</th>
        </tr>
    </thead>
    <tbody>
        @if(logs.Any()){
            @foreach(var log in logs)
            {
                <tr>
                    <td>@log.Timestamp</td>
                    <td>@log.Message</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="2">No logs yet</td>
            </tr>
        }
    </tbody>
</table>

@code {
    private List<LogEntry> logs = new List<LogEntry>();
    private SimulationConsumer? consumer;
    private ExperimentOrchestrator? orchestrator;
    private string? latencyTestResult;

    protected override async Task OnInitializedAsync()
    {
        await eventbus.ConnectAsync(true, true, true).ConfigureAwait(false);

        eventbus.SubscribeToRecalculationEvent(OnRecalculationEvent);
        orchestrator = new ExperimentOrchestrator(eventbus, loggerFactory.CreateLogger<ExperimentOrchestrator>());
    }

    private void CreateConsumer()
    {
        consumer = new SimulationConsumer(eventbus,
            new BasicEventDataStore.BasicEventDataStore(new WeatherService(), eventbus),
            loggerFactory.CreateLogger<SimulationConsumer>());
    }

    private void KillConsumer()
    {
        consumer?.Dispose();
        consumer = null;
    }

    public async Task PerformLatencyTest()
    {
        if (orchestrator is null || orchestrator.LatencyExperimentRunning)
        {
            return;
        }
        latencyTestResult = null;
        StateHasChanged();

        var results = await orchestrator.GetConsumersAndLatencyAsync(5, 1000);

        latencyTestResult = JsonSerializer.Serialize(results, new JsonSerializerOptions()
        {
            WriteIndented = true
        });
    }

    private async Task OnRecalculationEvent(DynamicFlightStorageSimulation.Events.FlightRecalculationEvent e)
    {
        logs.Add(new(DateTime.UtcNow, e.Flight.ToString()));
        await InvokeAsync(StateHasChanged);
    }

    private async Task PublishWeather(Weather weather)
    {
        await eventbus.PublishWeatherAsync(weather).ConfigureAwait(false);
    }

    private async Task PublishFlight(Flight flight)
    {
        await eventbus.PublishFlightAsync(flight).ConfigureAwait(false);
    }

    private record LogEntry(DateTime Timestamp, string Message);

    public void Dispose()
    {
        consumer?.Dispose();   
        orchestrator?.Dispose();
    }
}
