@page "/"
@using DynamicFlightStorageSimulation.ExperimentOrchestrator
@using System.Text.Json
@using DynamicFlightStorageSimulation.Utilities
@using System.Globalization
@inject SimulationEventBus eventbus
@inject Orchestrator orchestrator
@inject ILoggerFactory loggerFactory
@inject IJSRuntime jsRuntime
@implements IDisposable

<PageTitle>Home</PageTitle>

<h1>Prototyping Dashboard!</h1>
<div class="container mb-2">
    <div class="row g-2">
        <div class="col-12 border rounded p-2">
            <h3>Orchestrator: <button class="btn btn-sm" @onclick="StateHasChanged">Refresh state</button></h3>
            <p>An experiment is running: @(orchestrator.CheckExperimentRunning())</p>
            @if(orchestrator.CurrentSimulationTime is { } simTime
               && orchestrator.CurrentExperiment is { } currEx
               && orchestrator.CurrentExperimentResult is { } result)
            {
                bool experimentDone = result.ExperimentEnded is not null;
                string barColor = "";
                if (experimentDone)
                {
                    barColor = result.ExperimentSuccess ? "bg-success" : "bg-danger";
                }
                string timeScaleText = currEx.TimeScale > 0 ? $"x {currEx.TimeScale}" : "Max Speed";
                double experimentProgress = Math.Round((simTime - currEx.SimulatedStartTime) / (currEx.SimulatedEndTime - currEx.SimulatedStartTime) * 100d, 2);

                <p>Experiment time: <code>@(orchestrator.CurrentSimulationTime)</code> (TimeScale: @timeScaleText)</p>
                <p>Experiment time left: @(currEx.SimulatedEndTime - simTime)
                <div class="progress" role="progressbar">
                    <div
                        class="progress-bar progress-bar-striped @barColor @(!experimentDone ? "progress-bar-animated" : "")" 
                        style="width: @(experimentProgress.ToString(CultureInfo.InvariantCulture))%">
                            @if (experimentDone)
                            {
                                <span style="animation: fadeIn ease 1s">Experiment succeded: @result.ExperimentSuccess!</span>
                            }
                        </div>
                </div>
                </p>
            }
            <p>Orchestrator State: @(orchestrator.OrchestratorState)</p>
            <div class="mb-3">
                <label for="clientIds" class="form-label">Client IDs for experiment:
                    @if (latencyTester?.LatencyExperimentRunning == true)
                    {
                        <div class="spinner-border spinner-border-sm" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    }
                    else
                    {
                        <span style="cursor:pointer;" @onclick="RefreshConsumers"><i class="bi bi-arrow-clockwise"></i></span>
                    }
                </label>
                <select class="form-select" multiple @onchange="ExperimentClientIdUpdated">
                    @foreach (var clientId in KnownClientIds)
                    {
                        <option value="@clientId">@clientId
                            @if (clientId == consumer?.ClientId)
                            {
                                <span>  (Embedded Consumer)</span>
                            }
                        </option>
                    }
                </select>
            </div>
            <p>
                Parsed client ids: (Lag: (flights, weather))
                <ul>
                    @foreach (var clientId in orchestrator.ExperimentRunnerClientIds)
                    {
                        <li>@clientId 
                            @if(orchestrator.CurrentLag.TryGetValue(clientId, out var lag))
                            {
                                <span class="badge bg-secondary rounded ms-2">Lag: @lag</span>
                            }
                        </li>
                    }
                </ul>
            </p>
            <button class="btn btn-outline-primary" @onclick="PreloadExperiment">Preload Data</button>
            <button class="btn btn-primary" @onclick="StartExperiment">Start Experiment</button>
            <button class="btn btn-danger" @onclick="AbortExpxeriment">Abort Experiment</button>
            <button class="btn btn-secondary" @onclick="ResetExperiment">Reset Experiment</button>
            <hr />
            <h3>Logs:</h3>
            <ul id="logList" class="logContainer list-unstyled"></ul>
            @if (orchestrator.CurrentExperimentResult is { } results)
            {
                <p>
                    Current Experiment results:<br />
                    <pre>@(JsonSerializer.Serialize(results, new JsonSerializerOptions() { WriteIndented = true }))</pre>
                </p>
            }
        </div>

        <div class="col-12 border rounded p-2">
            <h3>Consumer:</h3>
            <p>The embedded consumer is enabled: @(consumer is not null)</p>            
            @if(consumer is null)
            {

                <button class="btn btn-success" @onclick="CreateConsumer">Enable embedded consumer?</button>
            }
            else
            {
                <p>Consumer id: <code>@consumer.ClientId</code></p>
                <button class="btn btn-danger" @onclick="KillConsumer">Disable embedded consumer?</button>
            }
        </div>

        <div class="col-12 border rounded p-2">
            <h3>Recalculation events:</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Timestamp</th>
                        <th>Message</th>
                    </tr>
                </thead>
                <tbody>
                    @if (recalculationLogs.Any())
                    {
                        @foreach (var log in recalculationLogs)
                        {
                            <tr>
                                <td>@log.Timestamp</td>
                                <td>@log.Message</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="2" class="text-center">No flights signaled to be recalculated yet</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

       <div class="col-12 border rounded p-2">
            <h3>Latency Tester:</h3>
            <p>The latency tester is ready: @(latencyTester is not null)</p>
            @if (latencyTester is not null)
            {
                <p>Latency test in progress: @(latencyTester.LatencyExperimentRunning)</p>
                <button class="btn btn-primary" disabled="@latencyTester.LatencyExperimentRunning" @onclick="() => PerformLatencyTest(100,100)">Perform Latency test</button>
                <button class="btn btn-secondary" disabled="@latencyTester.LatencyExperimentRunning" @onclick="() => PerformLatencyTest(1,1)">Get Consumers</button>
                @if(latencyTestResult is not null)
                {
                    <p>Test Results:<br/>
                        <pre>@latencyTestResult</pre>
                    </p>
                }
            }
        </div>
    </div>
</div>

@code {
    private CancellationTokenSource cts = new();
    private List<RecalculationLogEntry> recalculationLogs = new List<RecalculationLogEntry>();
    private List<LogEntry> orchestratorLogs = new List<LogEntry>();
    private SimulationConsumer? consumer;
    private LatencyTester? latencyTester;
    private string? latencyTestResult;

    private HashSet<string> KnownClientIds = new HashSet<string>();

    private readonly Experiment testExperiment = new Experiment()
    {
        Name = "Test Experiment",
        PreloadAllFlights = true,
        SimulatedStartTime = new DateTime(2024, 10, 11, 3, 00, 00, DateTimeKind.Utc),
        SimulatedEndTime = new DateTime(2024, 10, 12, 00, 00, 00, DateTimeKind.Utc),
        // SimulatedEndTime = new DateTime(2024, 10, 12, 00, 00, 00, DateTimeKind.Utc),
        SimulatedPreloadStartTime = new DateTime(2024, 1, 1, 00, 00, 00, DateTimeKind.Utc),
        SimulatedPreloadEndTime = new DateTime(2024, 10, 11, 3, 00, 00, DateTimeKind.Utc),
        TimeScale = -1 // Negative value means "as fast as possible"
    };

    protected override async Task OnInitializedAsync()
    {
        if (orchestrator.CurrentExperiment is null)
        {
            orchestrator.SetExperiment(testExperiment);
        }
        orchestrator.OnExperimentStateChanged += OnExperimentStateChanged;
        orchestrator.OnLogEvent += OnOrchestratorLog;
        await eventbus.SubscribeToRecalculationEventAsync(OnRecalculationEvent);
        latencyTester = new LatencyTester(eventbus, loggerFactory.CreateLogger<LatencyTester>());
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            try
            {
                await jsRuntime.InvokeVoidAsync("logMessages", orchestrator.GetLogCache());
                _ =  RefreshConsumers();
            }
            catch
            {
                // Ignore
            }
        }
        await base.OnAfterRenderAsync(firstRender);
    }

    private void OnOrchestratorLog(LogEntry log)
    {
        _ = jsRuntime.InvokeVoidAsync("logMessage", log);
    }

    private void OnExperimentStateChanged()
    {
        _ = InvokeAsync(StateHasChanged);
    }

    public async Task PreloadExperiment()
    {
        try
        {
            await orchestrator.RunExperimentPreloadAsync();
        }catch(Exception e)
        {
            OnOrchestratorLog(new LogEntry(LogLevel.Error, "Local error starting preload.", e));
        }
    }

    public async Task StartExperiment()
    {
        try
        {
            await orchestrator.StartExperimentAsync();
        }
        catch (Exception e)
        {
            OnOrchestratorLog(new LogEntry(LogLevel.Error, "Local error starting experiment.", e));
        }
    }

    public async Task AbortExpxeriment()
    {
        try
        {
            await orchestrator.AbortExperimentAsync();
        }
        catch (Exception e)
        {
            OnOrchestratorLog(new LogEntry(LogLevel.Error, "Local error aborting experiment.", e));
        }
    }

    public void ResetExperiment()
    {
        try
        {
            orchestrator.SetExperiment(testExperiment);
        }
        catch (Exception e)
        {
            OnOrchestratorLog(new LogEntry(LogLevel.Error, "Local error resetting experiment.", e));
        }
    }

    public void ExperimentClientIdUpdated(ChangeEventArgs e)
    {
        var newExperimentRunnerIds = new HashSet<string>();
        var newValue = e.Value as string[];
        if (newValue is null)
        {
            orchestrator.ExperimentRunnerClientIds = newExperimentRunnerIds;
            return;
        }

        var newClientIds = newValue.Select(x => x.Trim()).Where(x => !string.IsNullOrWhiteSpace(x));
        foreach(var clientId in newClientIds)
        {
            newExperimentRunnerIds.Add(clientId);
        }
        orchestrator.ExperimentRunnerClientIds = newExperimentRunnerIds;
    }

    private void CreateConsumer()
    {
        if(consumer is not null)
        {
            return;
        }
        var weatherService = new WeatherService();
        consumer = new SimulationConsumer(eventbus,
            weatherService,
            new BasicEventDataStore.BasicEventDataStore(weatherService, eventbus),
            loggerFactory.CreateLogger<SimulationConsumer>());
        KnownClientIds.Add(consumer.ClientId);
    }

    private void KillConsumer()
    {
        if(consumer is not null){
            KnownClientIds.Remove(consumer.ClientId);
            consumer.Dispose();
        }
        consumer = null;
    }

    public async Task RefreshConsumers()
    {
        if (latencyTester is null || latencyTester.LatencyExperimentRunning)
        {
            return;
        }
        var results = await latencyTester.GetConsumersAndLatencyAsync(1, 1).ConfigureAwait(false);
        KnownClientIds = results.Select(x => x.Clientid).ToHashSet();
        await InvokeAsync(StateHasChanged);
    }

    public async Task PerformLatencyTest(int sample, int delay)
    {
        if (latencyTester is null || latencyTester.LatencyExperimentRunning)
        {
            return;
        }
        latencyTestResult = null;
        StateHasChanged();

        var results = await latencyTester.GetConsumersAndLatencyAsync(sample, delay, cts.Token);
        KnownClientIds = results.Select(x => x.Clientid).ToHashSet();
        latencyTestResult = JsonSerializer.Serialize(results, new JsonSerializerOptions()
        {
            WriteIndented = true
        });
    }

    private async Task OnRecalculationEvent(FlightRecalculation flight)
    {
        // TODO: Don't do this, as this becomes a race-condition because we both enumerate and add to the list at once.
        recalculationLogs.Add(new(DateTime.UtcNow, flight.ToString()));
        await InvokeAsync(StateHasChanged);
    }

    private record RecalculationLogEntry(DateTime Timestamp, string Message);

    public void Dispose()
    {
        cts.Cancel();
        consumer?.Dispose();   
        latencyTester?.Dispose();
        cts.Dispose();
        orchestrator.OnExperimentStateChanged -= OnExperimentStateChanged;
        orchestrator.OnLogEvent -= OnOrchestratorLog;
        orchestratorLogs = null!;
    }
}
